
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

    <div class="content-inner">

      <div class="icon-box-small-medium">
        <img class="icon" src="img/icon.png" alt="">
      </div>
      <!--<div class="icon-box-large hidden-xs">-->
        <!--<img class="icon" src="img/icon.png" alt="">-->
      <!--</div>-->
      <div class="logo-box ">
        <img id="logo" src="img/logo.png" alt="">
      </div>

    </div>

    </div>

    <div class="hidden-xs hidden-sm hidden-md col-lg-6 col-xl-6">
      <div class="content-inner">

        <div class="land-bg-holder">
          <div class="land-bg"></div>
        </div>

      </div>
    </div>

    <nav class="navigation-dots-box hidden-xs hidden-sm hidden-md">
      <div class="wrapper">
        <ul>
          <li class="page-links active"></li>
          <li class="page-links"></li>
          <li class="page-links"></li>
          <li class="page-links"></li>
        </ul>
      </div>
    </nav>

  </div>
</div>
